# ì¸ìŠ¤íƒ€ê·¸ë¨ ë°ì´í„° ì¶”ì¶œ

In [27]:
import re
import time
import pandas as pd
from urllib.request import urlopen
from urllib.parse import quote_plus
from bs4 import BeautifulSoup
from selenium import webdriver


def instagram_login(login_info):
    driver.get(base_url)
    time.sleep(3)
    
    input_id = driver.find_elements_by_class_name("_2hvTZ.pexuQ.zyHYP")[0]
    input_id.clear()
    input_id.send_keys(login_info[0])

    input_pw = driver.find_elements_by_class_name("_2hvTZ.pexuQ.zyHYP")[1]
    input_pw.clear()
    input_pw.send_keys(login_info[1])
    input_pw.submit()
    time.sleep(5)
    
    save_info_btn = driver.find_element_by_class_name("sqdOP.L3NKy.y3zKF")
    save_info_btn.click()
    time.sleep(5)
    
    notifications_btn = driver.find_element_by_class_name("aOOlW.HoLwm")
    notifications_btn.click()
    time.sleep(5)


def instagram_search(query):
#     query = input()
    search_url = base_url + "explore/tags/" + quote_plus(query)
    driver.get(search_url)
    time.sleep(5)


def select_first(driver):
    first = driver.find_element_by_css_selector("div._9AhH0")
    first.click() # ì‚¬ì§„ì„ í´ë¦­í•œë‹¤
    time.sleep(2) # ì‚¬ì§„ì´ ë¡œë”©ë˜ëŠ” ì‹œê°„ë™ì•ˆ ëŒ€ê¸°


def get_content(driver):
    html = driver.page_source
    soup = BeautifulSoup(html, 'lxml')
    
    try:
        content = soup.select("div.C4VMK > span")[0].text
    except:
        content = ""
    
    # contentì—ì„œ í•´ì‹œíƒœê·¸ë§Œ ê°€ì ¸ì˜¤ê¸°
    hashtag = re.findall("#[^\s]+", content)
    
    # ì‘ì„±ì¼ì ê°€ì ¸ì˜¤ê¸°
    date = soup.select("time._1o9PC.Nzb55")[0]['datetime']
    
    # ì¢‹ì•„ìš” ìˆ˜ ê°€ì ¸ì˜¤ê¸°
    
    like = ''
    if soup.select(".HbPOm._9Ytll"):
        like = soup.select(".HbPOm._9Ytll > span > span")[0].text
    elif soup.select("div.Nm9Fw > button > span"):
        like = soup.select("div.Nm9Fw > button > span")[0].text
    
    # ìœ„ì¹˜ì •ë³´ ê°€ì ¸ì˜¤ê¸°
    location = soup.select("div.M30cS")[0].text
    
    data = [content, hashtag, date, like, location]
    return data
    

def moveNext(driver):
    time.sleep(2)
    right = driver.find_element_by_css_selector("a.coreSpriteRightPaginationArrow")
    right.click()
    time.sleep(2)
    

driver = webdriver.Chrome("/Users/yoon/.selenium-drivers/chromedriver")
base_url = "https://instagram.com/"

login_info = ["ehc.1010", "davidho1358"]
query = "ì œì£¼ë„ë§›ì§‘"

instagram_login(login_info)
instagram_search(query)

select_first(driver)

results = []
for i in range(10):
    data = get_content(driver)
    results.append(data)
    moveNext(driver)
    
instagram_df = pd.DataFrame(results, columns = ["content", "hashtag", "data", "like", "location"])
instagram_df

,content,hashtag,data,like,location
0,ì•ˆë…•í•˜ì„¸ìš”^^ì´ì¶˜ì˜¥ì˜ ì›ì¡°!ì›ì¡°! ê³ ë“±ì–´ìŒˆë°¥ì…ë‹ˆë‹¤.ê°€ë”ì€ ì–´ë¨¸ë‹ˆê°€ ê°€ê²Œë¥¼ ì‘ê²Œ í•˜ì…¨...,"[#ì• ì›”ë§›ì§‘, #ì œì£¼ë„ë§›ì§‘#ì œì£¼ì‹œë§›ì§‘, #ì œì£¼ê³µí•­ê·¼ì²˜ë§›ì§‘#ì´í˜¸í…Œìš°í•´ë³€ë§›ì§‘, #ì œì£¼ì• ...",2020-08-09T01:36:29.000Z,"1,005",
1,.ë§›ë‚˜ëŠ” ìŒì‹ë³´ë‹¤ë§Œë‚˜ëŠ” ìŒì‹ì´ê¸¸ ì›í•´ìš”..ë§Œë‚¨ì˜ í™”ë ¤í•¨ë³´ë‹¨ì‘ë³„ì˜ ê·¸ë¦¬ì›€ìœ¼ë¡œ ë‚¨ê¸¸ ì›...,[#ì›”ì •ë¦¬ê°ˆë¹„ë°¥.ì›”ì •ë¦¬ì ],2020-08-09T01:07:13.000Z,"2,291",
2,â €ì œì£¼ì• ì›” í•µğŸ”¥ë§›ì§‘ #ì¥ì¸ì˜ì§‘ëŒ€í˜•ê°€ë§ˆì†¥ì— 24ì‹œê°„ í‘¹ê³ ì€ í•œìš°ì‚¬ê³¨ê³¼ ì œì£¼ë°”ë‹¤ ë“¬ë¿ë‹´...,"[#ì¥ì¸ì˜ì§‘ëŒ€í˜•ê°€ë§ˆì†¥ì—, #ì œì£¼ë„ë§›ì§‘, #ì œì£¼ë§›ì§‘, #ì œì£¼ì• ì›”ë§›ì§‘, #ì• ì›”ë§›ì§‘, #...",2020-08-09T07:24:04.000Z,861,í™˜ìƒì˜ ì„¬ Jeju Island
3,ê°€ì„±ë¹„ ì¢‹ì€ í•œë¼ ì›í•˜ì‹œëŠ” ì‡ë‹˜ë“¤!!âšˆÍ’â—¡âšˆÍ’í˜¼ìˆ í˜¼ë°¥ í¬ì¥ ğŸ ë‹¤ ê°€ëŠ¥í•©ë‹ˆë‹¤.âšˆÍ’...,"[#ì„­ì§€ì½”ì§€í•œë¼ğŸ±ì˜¤í”ˆ, #ì„±ì‚°ë§›ì§‘, #ì„œê·€í¬ë§›ì§‘, #ì„­ì§€ì½”ì§€ì¹´í˜#ì„±ì‚°ì¼ì¶œë´‰, #ì„œê·€...",2020-08-09T17:37:47.000Z,183,
4,ì œì£¼ë„ ë†€ëŸ¬ì™”ëŠ”ë° ì œëŒ€ë¡œ í•œë¼ ë“œì…”ì•¼ê² ì£ ?ì„­ì§€ì½”ì§€ê·¼ì²˜ì— ìˆëŠ” #ì„­ì§€ì½”ì§€ë§›ì§‘ !!!â €...,"[#ì„­ì§€ì½”ì§€ë§›ì§‘, #ì„­ì§€ì½”ì§€í•œë¼, #ì œì£¼ë„ë§›ì§‘, #ì œì£¼ë§›ì§‘#ì œì£¼ë„ì¹´í˜, #ì œì£¼ì¹´í˜#...",2020-08-09T15:47:02.000Z,278,
5,ì„±ì‚°ì¼ì¶œë´‰ğŸ” í•´ì•ˆê°€ğŸ– ë°”ë¡œ ì•ì— ìœ„ì¹˜í•´ ìˆê³ í•˜ì™€ì´í’ ì¸í…Œë¦¬ì–´ì™€ ë‹¤ì–‘í•œ í•´ì‚°ë¬¼ì„ ê°™...,"[#ì½”ì½”ë§ˆë§ˆâ €#ì œì£¼ë„ë§›ì§‘, #ì œì£¼ë§›ì§‘#ì œì£¼ë„ì¹´í˜, #ì œì£¼ì¹´í˜#ì„±ì‚°ì¼ì¶œë´‰ë§›ì§‘, #ì„±ì‚°...",2020-08-09T15:55:30.000Z,187,
6,ë°±ì¢…ì›ë‹˜ì´ ë°©ì†¡ì—ì„œ ì²œìƒì˜ë§›ì´ë¼ê³ ê·¹ì°¬í•œ ê·¸ 'ì¹´ì´ë§‰'ğŸ‘ğŸ»ğŸ‘ğŸ»#ì‰¬ì–´ê°“ ì˜¤ì‹œë©´ ë“œì‹¤...,"[#ì‰¬ì–´ê°“, #ì œì£¼ì¹´í˜, #ì œì£¼ë„ë§›ì§‘#ì œì£¼ë§›ì§‘, #ì œì£¼ë„ì¹´í˜#ì˜¤ì„¤ë¡ë§›ì§‘, #ì¢…ë‹¬ë¦¬ë§›...",2020-08-09T17:48:51.000Z,348,
7,ì¹œì ˆí•œ ì‚¬ì¥ë‹˜ê³¼ í‘¸ì„±í•œ êµ¬ì„± íƒ“ì— ì œì£¼ì— ì§€ì¸ì˜¤ë©´ í•­ìƒ ë°ë ¤ê°€ëŠ” ê³³ ğŸ¤¤_ì´ë²ˆì— ë©œì¡°...,[#ì œì£¼ë„ë§›ì§‘#ì œì£¼ë§›ì§‘#ì œì£¼ê³µí•­ê·¼ì²˜ë§›ì§‘#ì œì£¼ë„ê³µí•­ê·¼ì²˜ë§›ì§‘#ì œì£¼ë„í‘ë¼ì§€#ì œì£¼í‘ë¼ì§€#ì œ...,2020-08-09T03:45:44.000Z,"1,421",ì œì£¼ìœ¡ëŒ€í‘œ
8,ê°€ê²© ëŒ€ë¹„ í‘¸ì§í•œ êµ¬ì„±ìœ¼ë¡œ ì…ì†Œë¬¸ì´ ììí•œì½”ì½”ë§ˆë§ˆğŸ¦ğŸ¦ğŸ¦.ì„±ì‚°ì¼ì¶œë´‰ í•´ì•ˆê°€ ë°”ë¡œ ì•ì—...,"[#ì½”ì½”ë§ˆë§ˆâ €#ì„±ì‚°ì¼ì¶œë´‰ë§›ì§‘, #ì„œê·€í¬ë§›ì§‘#ë¹„ìë¦¼ë§›ì§‘, #ìš°ë„ë§›ì§‘#ì œì£¼ë§›ì§‘, #ì œì£¼...",2020-08-09T17:34:09.000Z,211,
9,#ì–´ì œì´ì•¼ê¸°â €â €ì•„ì¹¨ì— ëˆˆ ëœ¨ìë§ˆì í•˜ëŠ˜ì„ ë³´ëŸ¬ ë‚˜ê°€ë³´ë‹ˆ í–‡ë‹˜ì´â €ìš°ë¦¬ë¥¼ ë°˜ê²¨ì£¼ì—ˆì–´ìš”~...,[#ì–´ì œì´ì•¼ê¸°â €â €ì•„ì¹¨ì—],2020-08-10T00:49:35.000Z,,

# ìŠ¤íƒ€ë²…ìŠ¤ ë°ì´í„° ë¶„ì„

* ìŠ¤íƒ€ë²…ìŠ¤ í™ˆí˜ì´ì§€ -> ë§¤ì¥ ì •ë³´ -> í¬ë¡¤ë§  
    * http://www.istarbucks.co.kr
* ì„œìš¸ì‹œ ì—´ë¦°ë°ì´í„° ê´‘ì¥ -> ì¸êµ¬í†µê³„ ë°ì´í„°  
* open api(application programming interface):
    * ë°ì´í„° ë¶„ì„ì—ì„œ ë°ì´í„°ë¥¼ ì œê³µí•  ìˆ˜ ìˆë„ë¡ ë§Œë“  ì¸í„°í˜ì´ìŠ¤

In [46]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

browser = webdriver.Safari()
url = "https://www.starbucks.co.kr/store/store_map.do?disp=locale"
browser.get(url)
time.sleep(2)

seoulBtn = "#container > div > form > fieldset > div > section > article.find_store_cont \
            > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a"
browser.find_element_by_css_selector(seoulBtn).click()
time.sleep(2)

allBtn = "#mCSB_2_container > ul > li:nth-child(1) > a"
browser.find_element_by_css_selector(allBtn).click()
time.sleep(2)

In [257]:
soup = BeautifulSoup(browser.page_source, "lxml")
all_stores_info = []
for store in soup.select("#mCSB_3_container > ul > li"):
    all_stores_info.append([store['data-name'],
                            store.select('i')[0]['class'][0][4:],
                            str(store.findChild("br").nextSibling).strip(), 
                            store['data-lat'],
                            store['data-long'],
                            str(store.findChild("br").previousSibling).strip()])
    
starbucks_df = pd.DataFrame(all_stores_info, columns = ['STORE','STORE_TYPE', 'PHONE_NUMBER', 'LAT', 'LNG', 'ADDR'])
starbucks_df.head(10)

,STORE,STORE_TYPE,PHONE_NUMBER,LAT,LNG,ADDR
0,ì—­ì‚¼ì•„ë ˆë‚˜ë¹Œë”©,general,1522-3232,37.501087,127.043069,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì–¸ì£¼ë¡œ 425 (ì—­ì‚¼ë™)
1,ë…¼í˜„ì—­ì‚¬ê±°ë¦¬,general,1522-3232,37.510178,127.022223,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 538 (ë…¼í˜„ë™)
2,ì‹ ì‚¬ì—­ì„±ì¼ë¹Œë”©,general,1522-3232,37.514132,127.020563,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 584 (ë…¼í˜„ë™)
3,êµ­ê¸°ì›ì‚¬ê±°ë¦¬,general,1522-3232,37.499517,127.031495,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ 125 (ì—­ì‚¼ë™)
4,ìŠ¤íƒˆë¦¿ëŒ€ì¹˜R,reserve,1522-3232,37.494668,127.062583,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë‚¨ë¶€ìˆœí™˜ë¡œ 2947 (ëŒ€ì¹˜ë™)
5,ë´‰ì€ì‚¬ì—­,general,1522-3232,37.515000,127.063196,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë´‰ì€ì‚¬ë¡œ 619 (ì‚¼ì„±ë™)
6,ì••êµ¬ì •ìœ¤ì„±ë¹Œë”©,general,1522-3232,37.5227934,127.0286009,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë…¼í˜„ë¡œ 834 (ì‹ ì‚¬ë™)
7,ì½”ì—‘ìŠ¤ë³„ë§ˆë‹¹,general,1522-3232,37.510150,127.060275,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì˜ë™ëŒ€ë¡œ 513 (ì‚¼ì„±ë™)
8,ì‚¼ì„±ì—­ì„¬ìœ ì„¼í„°R,reserve,1522-3232,37.507750,127.060651,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ 518 (ëŒ€ì¹˜ë™)
9,ì••êµ¬ì •R,reserve,1522-3232,37.5273669,127.033061,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì–¸ì£¼ë¡œ 861 (ì‹ ì‚¬ë™)

In [143]:
starbucksStore = soup.select("#mCSB_3_container > ul > li")[0]

bs4.element.Tag

In [114]:
#storeName = starbucksStore.select('strong')[0].text.strip()
storeName = starbucksStore['data-name']

In [106]:
storeLat = starbucksStore['data-lat']
storeLong = starbucksStore['data-long']

In [137]:
storeAddress = str(starbucksStore.select('p')[0]).split("<br/>")[0].split(">")[1]
storePhoneNumber = str(starbucksStore.select('p')[0]).split("<br/>")[1].split("<")[0]

print(storeAddress, storePhoneNumber)

ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì–¸ì£¼ë¡œ 425 (ì—­ì‚¼ë™) 1522-3232

In [103]:
print(starbucksStore.select('i'))
print(starbucksStore.select('i')[0])
print(starbucksStore.select('i')[0]['class'])
print(starbucksStore.select('i')[0]['class'][0])
print(starbucksStore.select('i')[0]['class'][0][4:])

storeType = starbucksStore.select('i')[0]['class'][0][4:]

[<i class="pin_general">ë¦¬ì €ë¸Œ ë§¤ì¥ 2ë²ˆ</i>]
<i class="pin_general">ë¦¬ì €ë¸Œ ë§¤ì¥ 2ë²ˆ</i>
['pin_general']
pin_general
general

In [303]:
starbucks_df.to_excel("seoul_starbucks_list.xlsx", index=False)

# ì„œìš¸ì‹œ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
1. ì„œìš¸ì—´ë¦°ë°ì´í„°ê´‘ì¥ ì¸ì¦í‚¤ ë°œê¸‰
2. API í˜¸ì¶œ
    * WGS1984 or ì„œìš¸ì‹œ í–‰ì •êµ¬ì—­ ì‹œêµ°êµ¬ ì •ë³´ -> Open API ì£¼ì†Œ í˜•ì‹ì— ë§ëŠ” ìš”ì²­ì¸ì ì‚¬ìš©
 
### ìš”ì²­ì¸ì
|ë³€ìˆ˜ëª…|íƒ€ì…|ë³€ìˆ˜ì„¤ëª…|ê°’ì„¤ëª…|
|:-:|:-:|:-:|:-:|
|KEY|String(í•„ìˆ˜)|ì¸ì¦í‚¤|OpenAPI ì—ì„œ ë°œê¸‰ëœ ì¸ì¦í‚¤|
|TYPE|String(í•„ìˆ˜)|ìš”ì²­íŒŒì¼íƒ€ì…|xml : xml, xmlíŒŒì¼ : xmlf, ì—‘ì…€íŒŒì¼ : xls, jsoníŒŒì¼ : json|
|SERVICE|String(í•„ìˆ˜)|ì„œë¹„ìŠ¤ëª…|SdeTlSccoSigW|
|START_INDEX|INTEGER(í•„ìˆ˜)|ìš”ì²­ì‹œì‘ìœ„ì¹˜|ì •ìˆ˜ ì…ë ¥ (í˜ì´ì§• ì‹œì‘ë²ˆí˜¸ ì…ë‹ˆë‹¤ : ë°ì´í„° í–‰ ì‹œì‘ë²ˆí˜¸)|
|END_INDEX|INTEGER(í•„ìˆ˜)|ìš”ì²­ì¢…ë£Œìœ„ì¹˜|ì •ìˆ˜ ì…ë ¥ (í˜ì´ì§• ëë²ˆí˜¸ ì…ë‹ˆë‹¤ : ë°ì´í„° í–‰ ëë²ˆí˜¸)|
|OBJECTID|STRING(ì„ íƒ)|ìˆœë²ˆ|ì •ìˆ˜ ì…ë ¥|

In [187]:
import requests


# ë°œê¸‰ë°›ì€ ì¸ì¦í‚¤
SEOUL_API_AUTH_KEY = "6b51517250796f6f3533526b665263"

args = [SEOUL_API_AUTH_KEY, "json", "SdeTlSccoSigW", 1, 25, ""]
 #API í˜¸ì¶œ
url = "http://openapi.seoul.go.kr:8088/{}/{}/{}/{}/{}/{}".format(*args)
response = requests.get(url).json()

In [188]:
response_data = response["SdeTlSccoSigW"]
response_list = response_data['row']

response_df = pd.DataFrame(response_list)

In [189]:
response_df.head()

   OBJECTID SIG_CD SIG_KOR_NM     SIG_ENG_NM  ESRI_PK         LAT          LNG
0       1.0  11320        ë„ë´‰êµ¬      Dobong-gu      0.0  37.6658609  127.0317674
1       2.0  11380        ì€í‰êµ¬   Eunpyeong-gu      1.0  37.6176125  126.9227004
2       3.0  11230       ë™ëŒ€ë¬¸êµ¬  Dongdaemun-gu      2.0  37.5838012  127.0507003
3       4.0  11590        ë™ì‘êµ¬     Dongjak-gu      3.0  37.4965037  126.9443073
4       5.0  11545        ê¸ˆì²œêµ¬   Geumcheon-gu      4.0  37.4600969  126.9001546

### ì¼ë°˜í™” í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì—¬ ì‹œêµ°êµ¬ open api í˜¸ì¶œ

In [241]:
def seoul_open_api_data(url, url_args):
    try:
        response_dict = requests.get(url.format(*url_args)).json()
        response_data = response_dict[url_args[2]]
        
        code = response_data['RESULT']['CODE']
        
        if code == 'INFO-000':
            data_list = response_data['row']
            
        return data_list
    except:
        print("Invalid Key")
        
    return None

url = "http://openapi.seoul.go.kr:8088/{}/{}/{}/{}/{}/{}"
url_args = [SEOUL_API_AUTH_KEY, "json", "SdeTlSccoSigW", 1, 25, ""]

seoul_sgg_list = seoul_open_api_data(url, url_args)
seoul_sgg_df = pd.DataFrame(seoul_sgg_list)

seoul_sgg_df.head()

   OBJECTID SIG_CD SIG_KOR_NM     SIG_ENG_NM  ESRI_PK         LAT          LNG
0       1.0  11320        ë„ë´‰êµ¬      Dobong-gu      0.0  37.6658609  127.0317674
1       2.0  11380        ì€í‰êµ¬   Eunpyeong-gu      1.0  37.6176125  126.9227004
2       3.0  11230       ë™ëŒ€ë¬¸êµ¬  Dongdaemun-gu      2.0  37.5838012  127.0507003
3       4.0  11590        ë™ì‘êµ¬     Dongjak-gu      3.0  37.4965037  126.9443073
4       5.0  11545        ê¸ˆì²œêµ¬   Geumcheon-gu      4.0  37.4600969  126.9001546

### ë°ì´í„°í”„ë ˆì„ì„ ì—‘ì…€ë¡œ ë‚´ë³´ë‚´ê¸°

In [231]:
seoul_sgg_df.to_excel("seoul_sgg_list.xlsx", index=False)

## ì‹œêµ°êµ¬ë³„ ì¸êµ¬í†µê³„ ë°ì´í„° ê°€ì ¸ì˜¤ê¸°

In [244]:
url_args = [SEOUL_API_AUTH_KEY, "json", "octastatapi419", 1, 26, ""]

seoul_pop_list = seoul_open_api_data(url, url_args)
seoul_pop_df = pd.DataFrame(seoul_pop_list)

seoul_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  26 non-null     object
 1   JACHIGU                26 non-null     object
 2   SEDAE                  26 non-null     object
 3   GYE_1                  26 non-null     object
 4   NAMJA_1                26 non-null     object
 5   YEOJA_1                26 non-null     object
 6   GYE_2                  26 non-null     object
 7   NAMJA_2                26 non-null     object
 8   YEOJA_2                26 non-null     object
 9   GYE_3                  26 non-null     object
 10  NAMJA_3                26 non-null     object
 11  YEOJA_3                26 non-null     object
 12  SEDAEDANGINGU          26 non-null     object
 13  N_65SEISANGGORYEONGJA  26 non-null     object
dtypes: object(14)
memory usage: 3.0+ KB

In [245]:
seoul_pop_df.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
0,ï»¿2010.1-4,í•©ê³„,"4,121,193","10,464,171","5,181,117","5,283,054","10,208,670","5,059,504","5,149,166","255,501","121,613","133,888",2.48,"956,414"
1,2010.1-4,ì¢…ë¡œêµ¬,"74,300","177,023","88,225","88,798","168,158","84,088","84,070","8,865","4,137","4,728",2.26,"20,925"
2,2010.1-4,ì¤‘êµ¬,"58,472","138,102","69,175","68,927","129,786","65,216","64,570","8,316","3,959","4,357",2.22,"16,208"
3,2010.1-4,ìš©ì‚°êµ¬,"107,407","250,844","123,295","127,549","238,366","116,764","121,602","12,478","6,531","5,947",2.22,"28,436"
4,2010.1-4,ì„±ë™êµ¬,"126,942","316,113","158,228","157,885","308,144","154,389","153,755","7,969","3,839","4,130",2.43,"30,704"

### boolean ì°¸ì¡°
* True ì— í•´ë‹¹ë˜ëŠ” ë°ì´í„° ì¶”ì¶œ

In [258]:
condition = seoul_pop_df['JACHIGU'] != "í•©ê³„"
seoul_pop_df_selected = seoul_pop_df[condition]
seoul_pop_df_selected.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
1,2010.1-4,ì¢…ë¡œêµ¬,"74,300","177,023","88,225","88,798","168,158","84,088","84,070","8,865","4,137","4,728",2.26,"20,925"
2,2010.1-4,ì¤‘êµ¬,"58,472","138,102","69,175","68,927","129,786","65,216","64,570","8,316","3,959","4,357",2.22,"16,208"
3,2010.1-4,ìš©ì‚°êµ¬,"107,407","250,844","123,295","127,549","238,366","116,764","121,602","12,478","6,531","5,947",2.22,"28,436"
4,2010.1-4,ì„±ë™êµ¬,"126,942","316,113","158,228","157,885","308,144","154,389","153,755","7,969","3,839","4,130",2.43,"30,704"
5,2010.1-4,ê´‘ì§„êµ¬,"156,264","386,292","190,823","195,469","373,586","185,087","188,499","12,706","5,736","6,970",2.39,"30,765"

In [259]:
seoul_pop_df_selected[['JACHIGU', 'GYE_1']]

   JACHIGU    GYE_1
1      ì¢…ë¡œêµ¬  177,023
2       ì¤‘êµ¬  138,102
3      ìš©ì‚°êµ¬  250,844
4      ì„±ë™êµ¬  316,113
5      ê´‘ì§„êµ¬  386,292
6     ë™ëŒ€ë¬¸êµ¬  374,039
7      ì¤‘ë‘êµ¬  431,283
8      ì„±ë¶êµ¬  484,359
9      ê°•ë¶êµ¬  342,669
10     ë„ë´‰êµ¬  371,095
11     ë…¸ì›êµ¬  614,603
12     ì€í‰êµ¬  474,165
13    ì„œëŒ€ë¬¸êµ¬  336,490
14     ë§ˆí¬êµ¬  392,087
15     ì–‘ì²œêµ¬  504,928
16     ê°•ì„œêµ¬  578,257
17     êµ¬ë¡œêµ¬  449,187
18     ê¸ˆì²œêµ¬  262,337
19    ì˜ë“±í¬êµ¬  440,863
20     ë™ì‘êµ¬  407,966
21     ê´€ì•…êµ¬  546,814
22     ì„œì´ˆêµ¬  432,888
23     ê°•ë‚¨êµ¬  570,913
24     ì†¡íŒŒêµ¬  689,909
25     ê°•ë™êµ¬  490,945

In [265]:
seoul_pop_df_final = seoul_pop_df_selected[['JACHIGU', 'GYE_1']]
seoul_pop_df_final.columns = ['ì‹œêµ°êµ¬ëª…', 'ì£¼ë¯¼ë“±ë¡ì¸êµ¬']
seoul_pop_df_final.head()

  ì‹œêµ°êµ¬ëª…   ì£¼ë¯¼ë“±ë¡ì¸êµ¬
1  ì¢…ë¡œêµ¬  177,023
2   ì¤‘êµ¬  138,102
3  ìš©ì‚°êµ¬  250,844
4  ì„±ë™êµ¬  316,113
5  ê´‘ì§„êµ¬  386,292

In [267]:
seoul_pop_df_final.to_excel("sgg_pop.xlsx", index=False)

## ì„œìš¸ì‹œ ë™ë³„ ì‚¬ì—…ì²´í˜„í™© api

In [269]:
url_args = [SEOUL_API_AUTH_KEY, "json", "octastatapi104", 1, 450, ""]
biz_data_list = seoul_open_api_data(url, url_args)
sgg_biz_df = pd.DataFrame(biz_data_list)
sgg_biz_df.head()

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,SAEOPCHESU_2,JONGSAJASU_1,...,JONGSAJASU_4,SAEOPCHESU_6,JONGSAJASU_5,SAEOPCHESU_7,JONGSAJASU_6,SAEOPCHESU_8,JONGSAJASU_7,SAEOPCHESU_9,JONGSAJASU_8,SAEOPCHESU_10
0,2015,í•©ê³„,í•©ê³„,820658,272567,5108828,2887719,2221109,17,491,...,8713,463,6712,22695,360192,234494,912406,93642,279921,126785
1,2015,ì¢…ë¡œêµ¬,ì†Œê³„,40871,13472,269106,152766,116340,1,16,...,387,9,179,358,25269,17447,46970,1418,7841,6635
2,2015,ì¢…ë¡œêµ¬,ì‚¬ì§ë™,3551,1092,51425,29781,21644,1,16,...,2,2,32,38,4158,563,4074,280,2281,856
3,2015,ì¢…ë¡œêµ¬,ì‚¼ì²­ë™,738,354,4736,2374,2362,-,-,...,-,-,-,6,15,273,864,20,84,261
4,2015,ì¢…ë¡œêµ¬,ë¶€ì•”ë™,540,224,3635,1714,1921,-,-,...,-,-,-,22,53,104,523,33,37,125

In [272]:
sgg_biz_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GIGAN             450 non-null    object
 1   JACHIGU           450 non-null    object
 2   DONG              450 non-null    object
 3   SAEOPCHESU_1      450 non-null    object
 4   YEOSEONGDAEPYOJA  450 non-null    object
 5   GYE               450 non-null    object
 6   NAM               450 non-null    object
 7   YEO               450 non-null    object
 8   SAEOPCHESU_2      450 non-null    object
 9   JONGSAJASU_1      450 non-null    object
 10  SAEOPCHESU_3      450 non-null    object
 11  JONGSAJASU_2      450 non-null    object
 12  SAEOPCHESU_4      450 non-null    object
 13  JONGSAJASU_3      450 non-null    object
 14  SAEOPCHESU_5      450 non-null    object
 15  JONGSAJASU_4      450 non-null    object
 16  SAEOPCHESU_6      450 non-null    object
 17  JONGSAJASU_5      450 non-null    object
 18  SAEOPCHESU_7      450 non-null    object
 19  JONGSAJASU_6      450 non-null    object
 20  SAEOPCHESU_8      450 non-null    object
 21  JONGSAJASU_7      450 non-null    object
 22  SAEOPCHESU_9      450 non-null    object
 23  JONGSAJASU_8      450 non-null    object
 24  SAEOPCHESU_10     450 non-null    object
dtypes: object(25)
memory usage: 88.0+ KB

In [277]:
# ì†Œê³„ == êµ¬ ë‹¨ìœ„ ì‚¬ì—…ì²´ í˜„í™© ì´í•©
sgg_biz_df_selected = sgg_biz_df[sgg_biz_df['DONG'] == 'ì†Œê³„']

In [278]:
sgg_biz_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 431
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GIGAN             25 non-null     object
 1   JACHIGU           25 non-null     object
 2   DONG              25 non-null     object
 3   SAEOPCHESU_1      25 non-null     object
 4   YEOSEONGDAEPYOJA  25 non-null     object
 5   GYE               25 non-null     object
 6   NAM               25 non-null     object
 7   YEO               25 non-null     object
 8   SAEOPCHESU_2      25 non-null     object
 9   JONGSAJASU_1      25 non-null     object
 10  SAEOPCHESU_3      25 non-null     object
 11  JONGSAJASU_2      25 non-null     object
 12  SAEOPCHESU_4      25 non-null     object
 13  JONGSAJASU_3      25 non-null     object
 14  SAEOPCHESU_5      25 non-null     object
 15  JONGSAJASU_4      25 non-null     object
 16  SAEOPCHESU_6      25 non-null     object
 17  JONGSAJASU_5      25 non-null     object
 18  SAEOPCHESU_7      25 non-null     object
 19  JONGSAJASU_6      25 non-null     object
 20  SAEOPCHESU_8      25 non-null     object
 21  JONGSAJASU_7      25 non-null     object
 22  SAEOPCHESU_9      25 non-null     object
 23  JONGSAJASU_8      25 non-null     object
 24  SAEOPCHESU_10     25 non-null     object
dtypes: object(25)
memory usage: 5.1+ KB

In [295]:
sgg_biz_df_final = sgg_biz_df_selected[['JACHIGU', 'GYE', 'SAEOPCHESU_1']]
sgg_biz_df_final.columns = ['ì‹œêµ°êµ¬ëª…', 'ì¢…ì‚¬ììˆ˜', 'ì‚¬ì—…ì²´ìˆ˜']

### ì¸ë±ìŠ¤ ë²ˆí˜¸ ì´ˆê¸°í™”

In [296]:
sgg_biz_df_final.reset_index(drop=True)

    ì‹œêµ°êµ¬ëª…    ì¢…ì‚¬ììˆ˜   ì‚¬ì—…ì²´ìˆ˜
0    ì¢…ë¡œêµ¬  269106  40871
1     ì¤‘êµ¬  423808  66190
2    ìš©ì‚°êµ¬  133446  21178
3    ì„±ë™êµ¬  162019  26130
4    ê´‘ì§„êµ¬  123689  24531
5   ë™ëŒ€ë¬¸êµ¬  143858  32994
6    ì¤‘ë‘êµ¬   99241  27287
7    ì„±ë¶êµ¬  113893  24690
8    ê°•ë¶êµ¬   69787  18654
9    ë„ë´‰êµ¬   68669  18455
10   ë…¸ì›êµ¬  114736  25827
11   ì€í‰êµ¬   87693  24179
12  ì„œëŒ€ë¬¸êµ¬  111615  19612
13   ë§ˆí¬êµ¬  252534  36504
14   ì–‘ì²œêµ¬  119443  26297
15   ê°•ì„œêµ¬  199289  33273
16   êµ¬ë¡œêµ¬  210506  37445
17   ê¸ˆì²œêµ¬  223058  30080
18  ì˜ë“±í¬êµ¬  362524  44512
19   ë™ì‘êµ¬  103915  19609
20   ê´€ì•…êµ¬  119180  26235
21   ì„œì´ˆêµ¬  439963  47061
22   ê°•ë‚¨êµ¬  711278  73590
23   ì†¡íŒŒêµ¬  302517  45375
24   ê°•ë™êµ¬  143061  30079

In [297]:
sgg_biz_df_final.to_excel("sgg_biz.xlsx", index=False)

In [304]:
seoul_starbucks_df = pd.read_excel("seoul_starbucks_list.xlsx")
seoul_starbucks_df.head()

,STORE,STORE_TYPE,PHONE_NUMBER,LAT,LNG,ADDR
0,ì—­ì‚¼ì•„ë ˆë‚˜ë¹Œë”©,general,1522-3232,37.501087,127.043069,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì–¸ì£¼ë¡œ 425 (ì—­ì‚¼ë™)
1,ë…¼í˜„ì—­ì‚¬ê±°ë¦¬,general,1522-3232,37.510178,127.022223,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 538 (ë…¼í˜„ë™)
2,ì‹ ì‚¬ì—­ì„±ì¼ë¹Œë”©,general,1522-3232,37.514132,127.020563,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 584 (ë…¼í˜„ë™)
3,êµ­ê¸°ì›ì‚¬ê±°ë¦¬,general,1522-3232,37.499517,127.031495,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ 125 (ì—­ì‚¼ë™)
4,ìŠ¤íƒˆë¦¿ëŒ€ì¹˜R,reserve,1522-3232,37.494668,127.062583,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë‚¨ë¶€ìˆœí™˜ë¡œ 2947 (ëŒ€ì¹˜ë™)

In [306]:
seoul_starbucks_df['ADDR']

0                ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì–¸ì£¼ë¡œ 425 (ì—­ì‚¼ë™)
1               ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 538 (ë…¼í˜„ë™)
2               ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 584 (ë…¼í˜„ë™)
3               ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ 125 (ì—­ì‚¼ë™)
4             ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë‚¨ë¶€ìˆœí™˜ë¡œ 2947 (ëŒ€ì¹˜ë™)
                     ...
517                     ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ì‹ ë‚´ë¡œ 72
518                    ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ë©´ëª©ë¡œ 310
519      ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ë§ìš°ë¡œ 307, ,3,4ë²ˆì§€ (ìƒë´‰ë™)
520    ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ë™ì¼ë¡œ 932, ë¬µë™ì´ë§ˆíŠ¸ B1ì¸µ (ë¬µë™)
521                       ì„œìš¸ ì¤‘ë‘êµ¬ ë™ì¼ë¡œ 952
Name: ADDR, Length: 522, dtype: object

## ë¬¸ìì—´ ë¶„ë¦¬

In [311]:
sgg_names = []
for addr in seoul_starbucks_df['ADDR']:
    sgg = addr.split()[1]
    sgg_names.append(sgg)
    
seoul_starbucks_df['ì‹œêµ°êµ¬ëª…']=sgg_names
seoul_starbucks_df.head()

,STORE,STORE_TYPE,PHONE_NUMBER,LAT,LNG,ADDR,ì‹œêµ°êµ¬ëª…
0,ì—­ì‚¼ì•„ë ˆë‚˜ë¹Œë”©,general,1522-3232,37.501087,127.043069,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì–¸ì£¼ë¡œ 425 (ì—­ì‚¼ë™),ê°•ë‚¨êµ¬
1,ë…¼í˜„ì—­ì‚¬ê±°ë¦¬,general,1522-3232,37.510178,127.022223,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 538 (ë…¼í˜„ë™),ê°•ë‚¨êµ¬
2,ì‹ ì‚¬ì—­ì„±ì¼ë¹Œë”©,general,1522-3232,37.514132,127.020563,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 584 (ë…¼í˜„ë™),ê°•ë‚¨êµ¬
3,êµ­ê¸°ì›ì‚¬ê±°ë¦¬,general,1522-3232,37.499517,127.031495,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ 125 (ì—­ì‚¼ë™),ê°•ë‚¨êµ¬
4,ìŠ¤íƒˆë¦¿ëŒ€ì¹˜R,reserve,1522-3232,37.494668,127.062583,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë‚¨ë¶€ìˆœí™˜ë¡œ 2947 (ëŒ€ì¹˜ë™),ê°•ë‚¨êµ¬

In [327]:
seoul_starbucks_df[seoul_starbucks_df['ì‹œêµ°êµ¬ëª…'] == '67'] = 'ê¸ˆì²œêµ¬'
seoul_starbucks_df.to_excel("seoul_starbucks_list.xlsx", index=False)

## ë°ì´í„° ë³‘í•©

* í”¼ë´‡ í•¨ìˆ˜(pivot, pivot_table): í”¼ë´‡íŒ…(íŠ¹ì • ê¸°ì¤€ì— ë”°ë¥¸ ë°ì´í„° ìš”ì•½)
* merge() í•¨ìˆ˜
* ì˜ˆì œ
|ì‹œêµ°êµ¬ ëª…|ìŠ¤íƒ€ë²…ìŠ¤ ë§¤ì¥ìˆ˜|
|:-:|:-:|
|ê°•ë‚¨êµ¬|100|
|...|...|

In [360]:
seoul_sgg = pd.read_excel("seoul_sgg_list.xlsx")

In [361]:
seoul_starbucks = pd.read_excel("seoul_starbucks_list.xlsx")

In [362]:
seoul_starbucks

,STORE,STORE_TYPE,PHONE_NUMBER,LAT,LNG,ADDR,ì‹œêµ°êµ¬ëª…
0,ì—­ì‚¼ì•„ë ˆë‚˜ë¹Œë”©,general,1522-3232,37.5011,127.043,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì–¸ì£¼ë¡œ 425 (ì—­ì‚¼ë™),ê°•ë‚¨êµ¬
1,ë…¼í˜„ì—­ì‚¬ê±°ë¦¬,general,1522-3232,37.5102,127.022,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 538 (ë…¼í˜„ë™),ê°•ë‚¨êµ¬
2,ì‹ ì‚¬ì—­ì„±ì¼ë¹Œë”©,general,1522-3232,37.5141,127.021,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ 584 (ë…¼í˜„ë™),ê°•ë‚¨êµ¬
3,êµ­ê¸°ì›ì‚¬ê±°ë¦¬,general,1522-3232,37.4995,127.031,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ 125 (ì—­ì‚¼ë™),ê°•ë‚¨êµ¬
4,ìŠ¤íƒˆë¦¿ëŒ€ì¹˜R,reserve,1522-3232,37.4947,127.063,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë‚¨ë¶€ìˆœí™˜ë¡œ 2947 (ëŒ€ì¹˜ë™),ê°•ë‚¨êµ¬
...,...,...,...,...,...,...,...
517,ì¤‘ë‘êµ¬ì²­,general,1522-3232,37.6054,127.096,ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ì‹ ë‚´ë¡œ 72,ì¤‘ë‘êµ¬
518,ì‚¬ê°€ì •ì—­,general,1522-3232,37.5796,127.088,ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ë©´ëª©ë¡œ 310,ì¤‘ë‘êµ¬
519,ìƒë´‰ì—­,general,1522-3232,37.5969,127.086,"ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ë§ìš°ë¡œ 307, ,3,4ë²ˆì§€ (ìƒë´‰ë™)",ì¤‘ë‘êµ¬
520,ë¬µë™ì´ë§ˆíŠ¸,general,1522-3232,37.6134,127.077,"ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ë™ì¼ë¡œ 932, ë¬µë™ì´ë§ˆíŠ¸ B1ì¸µ (ë¬µë™)",ì¤‘ë‘êµ¬
521,ë¬µë™,general,1522-3232,37.6154,127.077,ì„œìš¸ ì¤‘ë‘êµ¬ ë™ì¼ë¡œ 952,ì¤‘ë‘êµ¬

In [363]:
starbucks_sgg_count = seoul_starbucks.pivot_table(values='STORE', index='ì‹œêµ°êµ¬ëª…', aggfunc='count').rename(columns={'STORE': 'ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜'})

In [364]:
seoul_sgg.rename(columns={'SIG_KOR_NM': 'ì‹œêµ°êµ¬ëª…'}, inplace=True)

In [365]:
# ë³‘í•©
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how='left', on='ì‹œêµ°êµ¬ëª…') #ì™¼ìª½ì´ ê¸°ì¤€ë˜ì–´ merge
seoul_sgg.head()

,OBJECTID,SIG_CD,ì‹œêµ°êµ¬ëª…,SIG_ENG_NM,ESRI_PK,LAT,LNG,ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜
0,1,11320,ë„ë´‰êµ¬,Dobong-gu,0,37.665861,127.031767,2
1,2,11380,ì€í‰êµ¬,Eunpyeong-gu,1,37.617612,126.922700,8
2,3,11230,ë™ëŒ€ë¬¸êµ¬,Dongdaemun-gu,2,37.583801,127.050700,8
3,4,11590,ë™ì‘êµ¬,Dongjak-gu,3,37.496504,126.944307,11
4,5,11545,ê¸ˆì²œêµ¬,Geumcheon-gu,4,37.460097,126.900155,11

In [366]:
seoul_sgg_pop = pd.read_excel("sgg_pop.xlsx")
seoul_sgg_pop.head()

  ì‹œêµ°êµ¬ëª…   ì£¼ë¯¼ë“±ë¡ì¸êµ¬
0  ì¢…ë¡œêµ¬  177,023
1   ì¤‘êµ¬  138,102
2  ìš©ì‚°êµ¬  250,844
3  ì„±ë™êµ¬  316,113
4  ê´‘ì§„êµ¬  386,292

In [367]:
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how='left', on='ì‹œêµ°êµ¬ëª…')

In [371]:
seoul_sgg.head()

,OBJECTID,SIG_CD,ì‹œêµ°êµ¬ëª…,SIG_ENG_NM,ESRI_PK,LAT,LNG,ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜,ì£¼ë¯¼ë“±ë¡ì¸êµ¬
0,1,11320,ë„ë´‰êµ¬,Dobong-gu,0,37.665861,127.031767,2,"371,095"
1,2,11380,ì€í‰êµ¬,Eunpyeong-gu,1,37.617612,126.922700,8,"474,165"
2,3,11230,ë™ëŒ€ë¬¸êµ¬,Dongdaemun-gu,2,37.583801,127.050700,8,"374,039"
3,4,11590,ë™ì‘êµ¬,Dongjak-gu,3,37.496504,126.944307,11,"407,966"
4,5,11545,ê¸ˆì²œêµ¬,Geumcheon-gu,4,37.460097,126.900155,11,"262,337"

In [374]:
sgg_biz = pd.read_excel("sgg_biz.xlsx")
sgg_biz.head()

  ì‹œêµ°êµ¬ëª…    ì¢…ì‚¬ììˆ˜   ì‚¬ì—…ì²´ìˆ˜
0  ì¢…ë¡œêµ¬  269106  40871
1   ì¤‘êµ¬  423808  66190
2  ìš©ì‚°êµ¬  133446  21178
3  ì„±ë™êµ¬  162019  26130
4  ê´‘ì§„êµ¬  123689  24531

In [375]:
seoul_sgg = pd.merge(seoul_sgg, sgg_biz, how='left', on='ì‹œêµ°êµ¬ëª…')

In [376]:
seoul_sgg.head()

,OBJECTID,SIG_CD,ì‹œêµ°êµ¬ëª…,SIG_ENG_NM,ESRI_PK,LAT,LNG,ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜,ì£¼ë¯¼ë“±ë¡ì¸êµ¬,ì¢…ì‚¬ììˆ˜,ì‚¬ì—…ì²´ìˆ˜
0,1,11320,ë„ë´‰êµ¬,Dobong-gu,0,37.665861,127.031767,2,"371,095",68669,18455
1,2,11380,ì€í‰êµ¬,Eunpyeong-gu,1,37.617612,126.922700,8,"474,165",87693,24179
2,3,11230,ë™ëŒ€ë¬¸êµ¬,Dongdaemun-gu,2,37.583801,127.050700,8,"374,039",143858,32994
3,4,11590,ë™ì‘êµ¬,Dongjak-gu,3,37.496504,126.944307,11,"407,966",103915,19609
4,5,11545,ê¸ˆì²œêµ¬,Geumcheon-gu,4,37.460097,126.900155,11,"262,337",223058,30080

In [379]:
seoul_sgg.to_excel("seoul_sgg_stat.xlsx", index=False)

In [380]:
seoul_sgg.sort_values(by=['ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜'], ascending=False).head()

,OBJECTID,SIG_CD,ì‹œêµ°êµ¬ëª…,SIG_ENG_NM,ESRI_PK,LAT,LNG,ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜,ì£¼ë¯¼ë“±ë¡ì¸êµ¬,ì¢…ì‚¬ììˆ˜,ì‚¬ì—…ì²´ìˆ˜
9,10,11680,ê°•ë‚¨êµ¬,Gangnam-gu,9,37.495985,127.066409,80,"570,913",711278,73590
11,12,11140,ì¤‘êµ¬,Jung-gu,11,37.557945,126.994190,52,"138,102",423808,66190
15,16,11650,ì„œì´ˆêµ¬,Seocho-gu,16,37.476953,127.037810,46,"432,888",439963,47061
6,7,11110,ì¢…ë¡œêµ¬,Jongno-gu,6,37.599100,126.986149,38,"177,023",269106,40871
21,22,11560,ì˜ë“±í¬êµ¬,Yeongdeungpo-gu,23,37.520641,126.913924,34,"440,863",362524,44512

In [381]:
seoul_sgg[['ì¢…ì‚¬ììˆ˜', 'ì‚¬ì—…ì²´ìˆ˜']] = seoul_sgg[['ì¢…ì‚¬ììˆ˜', 'ì‚¬ì—…ì²´ìˆ˜']].astype(int)

In [382]:
seoul_sgg.dtypes

OBJECTID        int64
SIG_CD          int64
ì‹œêµ°êµ¬ëª…           object
SIG_ENG_NM     object
ESRI_PK         int64
LAT           float64
LNG           float64
ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜        int64
ì£¼ë¯¼ë“±ë¡ì¸êµ¬         object
ì¢…ì‚¬ììˆ˜            int64
ì‚¬ì—…ì²´ìˆ˜            int64
dtype: object

In [384]:
seoul_sgg['ì£¼ë¯¼ë“±ë¡ì¸êµ¬'] = seoul_sgg['ì£¼ë¯¼ë“±ë¡ì¸êµ¬'].str.replace(',','').astype(int)
seoul_sgg.dtypes

OBJECTID        int64
SIG_CD          int64
ì‹œêµ°êµ¬ëª…           object
SIG_ENG_NM     object
ESRI_PK         int64
LAT           float64
LNG           float64
ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜        int64
ì£¼ë¯¼ë“±ë¡ì¸êµ¬          int64
ì¢…ì‚¬ììˆ˜            int64
ì‚¬ì—…ì²´ìˆ˜            int64
dtype: object

In [388]:
seoul_sgg.sort_values(by=['ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜'], ascending=False, inplace=True)

In [390]:
seoul_sgg.reset_index(drop=True)

,OBJECTID,SIG_CD,ì‹œêµ°êµ¬ëª…,SIG_ENG_NM,ESRI_PK,LAT,LNG,ìŠ¤íƒ€ë²…ìŠ¤_ë§¤ì¥ìˆ˜,ì£¼ë¯¼ë“±ë¡ì¸êµ¬,ì¢…ì‚¬ììˆ˜,ì‚¬ì—…ì²´ìˆ˜
0,10,11680,ê°•ë‚¨êµ¬,Gangnam-gu,9,37.495985,127.066409,80,570913,711278,73590
1,12,11140,ì¤‘êµ¬,Jung-gu,11,37.557945,126.994190,52,138102,423808,66190
2,16,11650,ì„œì´ˆêµ¬,Seocho-gu,16,37.476953,127.037810,46,432888,439963,47061
3,7,11110,ì¢…ë¡œêµ¬,Jongno-gu,6,37.599100,126.986149,38,177023,269106,40871
4,22,11560,ì˜ë“±í¬êµ¬,Yeongdeungpo-gu,23,37.520641,126.913924,34,440863,362524,44512
5,15,11440,ë§ˆí¬êµ¬,Mapo-gu,14,37.562291,126.908780,32,392087,252534,36504
6,19,11710,ì†¡íŒŒêµ¬,Songpa-gu,19,37.504853,127.114482,31,689909,302517,45375
7,25,11170,ìš©ì‚°êµ¬,Yongsan-gu,24,37.531101,126.981074,19,250844,133446,21178
8,20,11410,ì„œëŒ€ë¬¸êµ¬,Seodaemun-gu,21,37.582037,126.935667,19,336490,111615,19612
9,11,11500,ê°•ì„œêµ¬,Gangseo-gu,10,37.565762,126.822656,16,578257,199289,33273
10,21,11470,ì–‘ì²œêµ¬,Yangcheon-gu,22,37.527062,126.856153,15,504928,119443,26297
11,13,11740,ê°•ë™êµ¬,Gangdong-gu,12,37.549208,127.146482,15,490945,143061,30079
12,14,11215,ê´‘ì§„êµ¬,Gwangjin-gu,13,37.548144,127.085753,15,386292,123689,24531
13,17,11290,ì„±ë¶êµ¬,Seongbuk-gu,17,37.606991,127.023218,13,484359,113893,24690
14,18,11350,ë…¸ì›êµ¬,Nowon-gu,18,37.655264,127.077120,13,614603,114736,25827
15,5,11545,ê¸ˆì²œêµ¬,Geumcheon-gu,4,37.460097,126.900155,11,262337,223058,30080
16,4,11590,ë™ì‘êµ¬,Dongjak-gu,3,37.496504,126.944307,11,407966,103915,19609
17,23,11620,ê´€ì•…êµ¬,Gwanak-gu,15,37.465399,126.943807,11,546814,119180,26235
18,24,11200,ì„±ë™êµ¬,Seongdong-gu,20,37.550675,127.040962,11,316113,162019,26130
19,6,11530,êµ¬ë¡œêµ¬,Guro-gu,5,37.495486,126.858121,10,449187,210506,37445
20,2,11380,ì€í‰êµ¬,Eunpyeong-gu,1,37.617612,126.922700,8,474165,87693,24179
21,3,11230,ë™ëŒ€ë¬¸êµ¬,Dongdaemun-gu,2,37.583801,127.050700,8,374039,143858,32994
22,9,11260,ì¤‘ë‘êµ¬,Jungnang-gu,8,37.595379,127.093967,7,431283,99241,27287
23,8,11305,ê°•ë¶êµ¬,Gangbuk-gu,7,37.646995,127.014716,5,342669,69787,18654
24,1,11320,ë„ë´‰êµ¬,Dobong-gu,0,37.665861,127.031767,2,371095,68669,18455

In [391]:
seoul_sgg.to_excel("seoul_sgg_stat.xlsx", index=False)