# SQLite3
1. `connect()`: DB 연결
2. `cursor()`: DB 연결 후 커서 객체를 생성
3. `execute()`: 커서 객체의 execute 메서드를 호출하여 SQL 명령을 수행

### DB 생성 및 연결
* 연결하고자 하는 DB가 존재하지 않을경우 새로운 DB를 생성

In [1]:
import sqlite3

conn = sqlite3.connect('emp.db')

### 커서 객체 생성

In [2]:
c = conn.cursor()

### 테이블 생성

In [3]:
conn.execute('create table emp_data(id integer, name text, nickname text, department text, employment_date text)')

**여러개의 레코드를 한번에 추가**

In [4]:
c.executemany(
'insert into emp_data values (?, ?, ?, ?, ?)',
    [(1, 'gildong', 'gd', 'marketing', '2019-10-06 10:36:00.000'),
     (2, 'sunshin', 'ss', 'marketing', '2020-10-06 10:36:00.000'),
     (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
     (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
     (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')
    ]
)

### DB 변경사항 저장 및 종료

In [5]:
conn.commit() # 변경사항 저장
conn.close() # 연결 종료

### 레코드 참조

In [6]:
conn = sqlite3.connect("emp.db")
c = conn.cursor()

In [7]:
c.execute('select * from emp_data')

In [8]:
for row in c:
    print(row)

(1, 'gildong', 'gd', 'marketing', '2019-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2020-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

#### fetchall()
* 질의 결과의 모든 행을 가져와서 리스트를 반환

In [9]:
c.execute('select * from emp_data')
rows = c.fetchall()
rows

[(1, 'gildong', 'gd', 'marketing', '2019-10-06 10:36:00.000'),
 (2, 'sunshin', 'ss', 'marketing', '2020-10-06 10:36:00.000'),
 (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
 (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
 (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

#### description()
* DB의 열 이름을 반환
    * 파이썬DB API와의 호환성을 유지하기 위해 열마다 7-튜플을 반환(각 튜플의 마지막 6개 항목은 None)

In [10]:
c.description

(('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('nickname', None, None, None, None, None, None),
 ('department', None, None, None, None, None, None),
 ('employment_date', None, None, None, None, None, None))

#### 열 이름 추출

In [11]:
cols = [column[0] for column in c.description]

### DB를 이용하여 데이터프레임 생성

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame.from_records(data=rows, columns=cols)
df

   id     name nickname   department          employment_date
0   1  gildong       gd    marketing  2019-10-06 10:36:00.000
1   2  sunshin       ss    marketing  2020-10-06 10:36:00.000
2   3    yusin       ys  development  2020-01-06 10:36:00.000
3   4   sejong       sj    marketing  2020-05-06 10:36:00.000
4   5     bogo       bg  development  2020-07-06 10:36:00.000

### 데이터프레임을 DB테이블로 저장

In [14]:
data = {"c1": [1, 2, 3],
        "c2": [11, 21, 31],
        "c3": [12, 22, 32]}

df = pd.DataFrame(data)
df

   c1  c2  c3
0   1  11  12
1   2  21  22
2   3  31  32

In [15]:
conn = sqlite3.connect('cvTable.db')
df.to_sql('myTable', conn)

c = conn.cursor()
c.execute("select * from mytable")
rows = c.fetchall()
rows

[(0, 1, 11, 12), (1, 2, 21, 22), (2, 3, 31, 32)]

### SQL 명령어

In [16]:
conn = sqlite3.connect("dbtest.db") # DB 생성 및 연결
c = conn.cursor() # 커서 객체 생성

c.execute('create table test (name text, score int)') # 테이블 생성
c.execute("insert into test values('sunshin', 100)") # 레코드 추가

### SELECT

In [17]:
c.execute('select * from test')

for row in c:
    print(row)

('sunshin', 100)

### INSERT

In [18]:
c.execute("insert into test values (?, ?)", ('sunshin', 100))

In [19]:
c.execute("select * from test")
rows = c.fetchall()

rows

[('sunshin', 100), ('sunshin', 100)]

### UPDATE

In [20]:
c.execute("update test set score=100 where name='sunshin'")

In [21]:
c.execute('select * from test')
rows = c.fetchall()
rows

[('sunshin', 100), ('sunshin', 100)]